@model DashBoard.Web.Models.groupViewModel
@{
    ViewBag.Title = "GetGroupNameView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetGroupNameView</h2>

<script>
    var myObj = json.parse('@Model.ObjectAsString');

</script>